<!Doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TechMate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/employer.css" />
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--My JS-->
    <script src="../js/main.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="header-text">
                    <h class="tech-2">TECH</h>
                    <h class="mate-2">MATE</h>
                </div>
                <div class="header-txt">
                    <h class="header-txt">Employers</h>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <div class="form-div">
        <img class="triangle" src="../assets/images/triangle.jpg">
        <h1 class="company-header">ENTER YOUR COMPANY INFO:</h1>
        <div class="form-holder"></div>
    </div>

    <div class="footer">
        <h class="footer-txt">2018</h>
    </div>

  

</body>

</html>