<!Doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TechMate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/employee.css" />
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>

    <div class="all-content">
        <div class="logo-div">
            <img class="logo" src="../assets/images/techmate-logo.jpg">
        </div>
        <div class="navigation">
            <div class="icon-holder">
                <img class="bar-icon" src="../assets/images/bars-icon.jpg">
            </div>
        </div>

        <div class="title-text">
            <h class="tech">TECH</h>
            <h class="mate">MATE</h>
        </div>

        <div class="form-div">
            <form id="employeeForm">
                <h class="form-headers">NAME:</h>
                <input type="text" id="name" class="validate">
                <br>
                <h class="form-headers">EMAIL:</h>
                <input type="email" id="email" class="validate">
                <br>
                <h class="form-headers">TELEPHONE:</h>
                <input type="tel" id="phone" class="validate">
                <br>
                <h class="form-headers">GITHUB URL:</h>
                <input type="text" id="url" class="validate">
                <br>
                <h class="form-headers">PERSONAL SUMMARY</h>
                <textarea id="summary" class="validate"></textarea>
                <br>
                <br>
                <h class="skills-header">Enter Your Skill Levels for the Following Languages</h>
                <h class="form-headers">HTML</h>
                <br>
                <div class="row">
                    <div class="input-field col s2">
                        <select id='html'>
                            <option value="" disabled selected>HTML</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='css'>
                            <option value="" disabled selected>CSS</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='javascript'>
                            <option value="" disabled selected>JavaScript</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='nodejs'>
                            <option value="" disabled selected>Node.js</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='reactjs'>
                            <option value="" disabled selected>React.js</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                </div>
                <button type='submit' class='btn'>Submit!</button>
            </form>
        </div>





    </div>


    <script src="../js/employee-forms.js"></script>
</body>

</html>





<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="header-text">
                <h class="tech-2">TECH</h>
                <h class="mate-2">MATE</h>
            </div>
            <div class="header-txt">
                <h class="header-txt">Employees</h>
            </div>
        </div>
    </div>
    </div>
</nav>

<div class="form-div">
    <img class="triangle" src="../assets/images/triangle.jpg">
    <h1 class="company-header">ENTER YOUR INFO</h1>
    <div class="form-holder"></div>
    <button class="submit-btn">SUBMIT</button>
    <img class="inverse-triangle" src="../assets/images/flipped-traingle.jpg">
</div>

<div class="footer">
    <h class="footer-txt">2018</h>
</div> -->