<!Doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TechMate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/jobposting.css" />
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>

    <div class="all-content">
        <div class="logo-div">
            <img class="logo" src="../assets/images/techmate-logo.jpg">
        </div>
        <div class="navigation">
        </div>

        <div class="title-text">
            <h class="tech">TECH</h>
            <h class="mate">MATE</h>
        </div>

        <div class="company-txt">Fill Out The Job Info Below</div>

        <div class="form-div">
            <form class="jobform">
                <h class="form-headers">JOB TITLE:</h>
                <input id="jobTitle" class="validate"></textarea>
                <br>
                <h class="form-headers">JOB DESCRIPTION:</h><br>
                <textarea id="jobDescription" class="validate"></textarea>
                <br>
                <br>
                <h class="skills-header">Enter The Ideal Skill Levels for the Job</h>
                <br>
                <div class="row">
                    <div class="input-field col s2">
                        <select id='html'>
                            <option value="" disabled selected>HTML</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='css'>
                            <option value="" disabled selected>CSS</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s3">
                        <select id='javascript'>
                            <option value="" disabled selected>JavaScript</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='nodejs'>
                            <option value="" disabled selected>Node.js</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>

                    <div class="input-field col s2">
                        <select id='reactjs'>
                            <option value="" disabled selected>React.js</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="2">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>
                    
                </div>

                <br>

                <button type="submit" class="btn btn-success submit jobsubmit">Submit</button>
            </form>
        </div>

    </div>
<!--My JS-->
<script src="../js/company-forms.js"></script>
</body>

</html>
