<!Doctype html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TechMate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/match.css" />
    <link rel="stylesheet" href="../css/dragula.css">
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--My JS-->
    <script src="../js/company-forms.js"></script>

</head>

<body>


    <div class="all-content">
        <div class="logo-div">
            <img class="logo" src="../assets/images/techmate-logo.jpg">
        </div>
        <div class="navigation">
        </div>

        <div class="title-text">
            <h class="tech">TECH</h>
            <h class="mate">MATE</h>
        </div>

        <div class="james-content">
            <div id="match-container" class="match-container match-container-grid">
                <div class="match-results
                            match-container-item
                            match-container-item-grid" id="match-results">
                    <div class="match-subcontainer-title-large"></div>
                    <div class="match-subcontainer-description-large"></div>
                    <div class="match-subcontainer-result-large"></div>

                </div>

                <div class="match-options-email
                            match-container-item
                            match-container-item-grid" id="match-email">


                </div>

                <div class="match-options-hold
                            match-container-item
                            match-container-item-grid" id="match-hold">

                </div>

                <div class="match-options-trash
                            match-container-item
                            match-container-item-grid" id="match-trash">

                </div>
            </div>
        </div>


        </form>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="../js/match.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.0/dragula.min.js'></script>
    <script src="../js/script.js"></script>
</body>

</html>